$them_color:#4D70EE; //主题色
$bg-color: #e7e7e7; //背景颜色
$font-scre:PingFangSC,
PingFangSC-Regular; //字体为regular
$font-scme:PingFangSC,
PingFangSC-Medium; //字体为medium
$font-scse:PingFangSC,
PingFangSC-Semibold; //字体为semibold
$border:1px solid #ebeef5;
$thbg:#f2f9ff; //表格th背景颜色
$bgred:#FF2020;
$bggray:#D9D9D9;
$fontblue:#59b3fd;
$tablebg:#f2f9ff;
$dialogtopbg:#2D92FF;



@mixin flex_ac {
  display: flex;
  align-items: center;
}

@mixin flex_abc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_abs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}